In [1]:
import pandas as pd
df=pd.read_html('https://www.imdb.com/chart/top')
len(df)

1

In [2]:
df=df[0]

In [3]:
df['Rank & Title']=df['Rank & Title'].str.strip(')')
df['Rank']=df['Rank & Title'].str.split('.').str[0]
df['Year']=df['Rank & Title'].str.split('(').str[1]
df['Rank and Title']=df['Rank & Title'].str.split('(').str[0]
df['Title']=df['Rank and Title'].str.split('.').str[1]
df

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4,Rank,Year,Rank and Title,Title
0,NaN,1. The Shawshank Redemption (1994,9.2,12345678910 NOT YET RELEASED Seen,NaN,1,1994,1. The Shawshank Redemption,The Shawshank Redemption
1,NaN,2. The Godfather (1972,9.2,12345678910 NOT YET RELEASED Seen,NaN,2,1972,2. The Godfather,The Godfather
2,NaN,3. The Dark Knight (2008,9.0,12345678910 NOT YET RELEASED Seen,NaN,3,2008,3. The Dark Knight,The Dark Knight
3,NaN,4. The Godfather: Part II (1974,9.0,12345678910 NOT YET RELEASED Seen,NaN,4,1974,4. The Godfather: Part II,The Godfather: Part II
4,NaN,5. 12 Angry Men (1957,8.9,12345678910 NOT YET RELEASED Seen,NaN,5,1957,5. 12 Angry Men,12 Angry Men
...,...,...,...,...,...,...,...,...,...
245,NaN,246. Aladdin (1992,8.0,12345678910 NOT YET RELEASED Seen,NaN,246,1992,246. Aladdin,Aladdin
246,NaN,247. Gandhi (1982,8.0,12345678910 NOT YET RELEASED Seen,NaN,247,1982,247. Gandhi,Gandhi
247,NaN,248. Jai Bhim (2021,8.0,12345678910 NOT YET RELEASED Seen,NaN,248,2021,248. Jai Bhim,Jai Bhim
248,NaN,249. The Help (2011,8.0,12345678910 NOT YET RELEASED Seen,NaN,249,2011,249. The Help,The Help
249,NaN,250. Beauty and the Beast (1991,8.0,12345678910 NOT YET RELEASED Seen,NaN,250,1991,250. Beauty and the Beast,Beauty and the Beast

In [4]:
df=df.drop(['Unnamed: 0','Rank & Title','Your Rating','Unnamed: 4'],axis=1)

In [5]:
df=df[['Rank','Title','Year','IMDb Rating']]

In [6]:
df.head()

  Rank                         Title  Year  IMDb Rating
0    1    The Shawshank Redemption    1994          9.2
1    2               The Godfather    1972          9.2
2    3             The Dark Knight    2008          9.0
3    4      The Godfather: Part II    1974          9.0
4    5                12 Angry Men    1957          8.9

In [7]:
df.to_csv('IMDb Rating.csv',index=False)